= simple_form_for @journal do |f|
	= f.input :title
	= f.input :date
	= f.input :are_good, label: "What's something good that happened today?"
	= f.input :are_bad, label: "What's something not that great that happened today?"
	= f.input :anything_else, label: "Say something random!"
	= f.button :submit
end