%h1= @journal.title

%p= @journal.date
%p= @journal.are_good
%p= @journal.are_bad
%p= @journal.anything_else

= link_to "All Journal Entries", journals_path
= link_to "Edit", edit_journal_path(@journal)
= link_to "Delete", journal_path(@journal), method: :delete, data: {confirm: "Are you sure you would like to delete this entry?"}